.main{    
    background-color:beige;

}

.header{
    background-color: black;
    color:tomato;
    font-size:12px;
    font-family: 'Aclonica';
    text-align:center;
    margin-top: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    left: 0;
}


ul {
    list-style-type: none;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0px;
    overflow: hidden;
    background-color: #800000;   <!--- maroon -->
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Amita';
}
.link{
    margin-top: 30px;

}
li a:hover {
    background-color:tomato;
}


#inline{
    width:100%;
    height: auto;
    display: inline-flex;
}

.heading{
    text-align: center;
    color: maroon;
    font-family: 'Amita';
    font-size:30px;
}



.DL{
    display: block;
    background-image: url('blood2.jpeg');
    text-align: center;
    position: fixed;
    border-radius: 20px;
    opacity: 0.8;
    position: relative;
    background-color: lightgray;
    border: 2px solid black;
    padding: 10px 10px 10px 10px;
    width: 500px;
    height: 300px;
    margin-left: 400px;
    margin-top: 100px;
    margin-right: 400px;
}
.DL>h2{
    text-align: center;
    color: maroon;
    font-family: 'Amita';
    border: 1px solid black;
    background-color:lightGray;
    border-radius: 20px;
    opacity: 1.0;
}
.info1{
    font-size:20px;
    font-family: 'Amarante';
}
.info1>input{
    border-radius: 20px;
    width: 200px;
}
.info2{
    font-size: 20px;
    display: inline;
    font-family: 'Amarante';
}
.info2>input{
    border-radius: 20px;
    width: 200px;
}
.info2>a{
    font-size: 15px;
}
.not{
    text-align: center;
    font-size: 15px;
    font-family: 'Amarante';
}


.DL>form{
    text-align: center;
}

.footer{
    
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    height:10%;
    text-align: center;
    padding:1px;
    background-color: #800000;
    color:white;
}
